<!doctype html>
<html layout:decorate="~{layout}">
	<body>
        <div layout layout:fragment="content">
            <div class="header_container">
                <h1> Thank you for your order! </h1>
            </div>
            <div class="error-message-container">
                <h2>Have a safe ride!<h2>				
            </div>
            <div class="form-group">
                <form>
                    <input class="btn btn-primary" type="button" onclick="window.location.href = '/';" value="Back to main page"/>
                </form>
            </div>
        </div>
    </body>
</html>