<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        
		<title th:text="${pageTitle}">Bike rental</title>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css">
	</head>

	<body>
        <div class="container-fluid">
            <div class="main-card-body">
                <div class="container" >
                    <div class="navbar_containter">
                        <nav class="navbar navbar-expand-lg navbar-dark">
                            <a class="navbar-brand" href="#">Bike rental</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" href="/allBikes">Bikes</a>
                                <a class="nav-item nav-link" href="/myRentals">My rentals</a>
                                <a class="nav-item nav-link disabled" href="#">Disabled</a>
                            
                                <span class="navbar-text" sec:authentication="name"></span>
                                   <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
                                    | <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
                                  </form>
                            </div>
                            </div>
                        </nav>
                    </div>
                    
                </div>
                <div class="card w-100" id="content_card">
                    <div class="card-body">
                        <div layout:fragment="content">
                        </div>
                    </div>
                </div>
                
                <div class="card w-25 text-center" id="about_us">
                    <div class="card-body">
                    <h5 class="card-title">Contact us</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Address: Budapest Bike Lover Street 42.</li>
                        <li class="list-group-item">Phone: 06-20-4242-424</li>
                        <li class="list-group-item">E-mail: bike.rental@gmail.com</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>